<%= link_to "Home", root_path %>
<%= link_to "About", about_path %>
<%= link_to "For Employers", foremployers_path %>
<%= link_to "For Job Seekers", forjobseekers_path %>
<%= link_to "Our Success", oursuccess_path %>
<%= link_to "Contact Us", contactus_path %>

<h1>Millennium Search</h1>
<p>Millennium Search Partners with Emerging Startups and High Growth Technology Companies to 
Secure Top Talent and Rapidly Scale Business, Technology, Marketing and Sales Teams!</p>
